# R
.Rhistory
.RData
.Rproj.user/

# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc

# Arquivos gerados
dados/*_Tratado.csv
figuras/*.png

# Sistema
.DS_Store
Thumbs.db